#apt-get install pip
#pip install -r requirements.txt

pymongo
tornado
boto
validators
future-fstrings
jsonpickle

# Only if on linux
#python-daemon==1.6

# only if you want to be able to serve the docs at http://$SERVER/docs
#docutils
