#apt-get install pip
#pip install -r requirements.txt

 pip install tornado
 pip install pymongo
 pip install boto3
 pip install validators
 pip install future-fstrings
 pip install jsonpickle
 pip install xmltodict

# Only if on linux
#pip install python-daemon
