<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            getTypeInfo();
            $('#create-new-type').click(function(evt) {
                evt.preventDefault();
                var type = serializeType();
                var post_serialized_type = {name : type.name, questions: JSON.stringify(type.questions)};
                $.post('/createtype/', post_serialized_type, function(){
                    getTypes();
                });
            });
            
            $('#add-another-question').click(function(evt) {
                evt.preventDefault();
                var question_type = $("#select-question-type option:selected").val();
                switch(question_type) {
                    case 'radio':
                        appendRadioQuestion();
                        break;
                }
            });
        });
        
        function getTypeInfo() {
            var type_name = window.location.pathname.split('/').pop();
            $.get('/gettypeinfo/'+type_name, function(data) {
                $('#name').html(data.name);
                renderTasks(data.tasks);
                renderQuestions(data.questions);
            });
        }
        
        function renderTasks(tasks) {
            var task_holder = $('#all-tasks');
            if (tasks.length == 0) {
                task_holder.html('No tasks!');
            } else {
                task_holder.empty();
            }
            for (var i = 0; i < tasks.length; i++) {
                task_holder.append('<li>'+tasks[i]+'</li>');
            }
        }
        
        function renderQuestions(questions) {
            var questions_div = $('#questions-div');
            questions_div.empty();
            for (var i = 0; i < questions.length; i++) {
                switch(questions[i].__type__) {
                    case 'RadioQType': 
                        questions_div.append(renderRadioQuestion(questions[i]));
                        break;
                }
            }
        }
        
        function renderRadioQuestion(r_question) {
            var radio_q_div = $('<div class="radio-q-div"></div>');
            $('<h4>' + r_question.label + '</h4>').appendTo(radio_q_div);
            var options_holder = $('<ul></ul>');
            for (var i = 0; i < r_question.options.length; i++) {
                options_holder.append('<li>'+r_question.options[i]+'</li>');
            }
            options_holder.appendTo(radio_q_div);
            return radio_q_div
        }
    </script>
</head>
<body>
    <h3 id="name"></h3>
    <div id="questions-div">
        
    </div>
    <br>
    <h3> Here be the tasks </h3>
    <ul id="all-tasks"></ul>
    
    <h3> Create a new task </h3>
    
    
</body>
</html>