# Set the superadmins who are able to manipulate normal admins at
# http://*/superadmin/

superadmins = [
    "GMAIL@gmail.com"
]

# Get these from https://console.developers.google.com under APIs &
# auth / Credentials.  Redirect URLs should be
# "http://$YOUR_DOMAIN/admin/login/" (note the final forward slash).
# See the documentation for more information.
google = {
    "client_id" : "ID.apps.googleusercontent.com",
    "client_secret" : "SECRET"
}

aws={
    "access_key" : "KEY",
    "access_secret" : "SECRET"
}
