###
### daemons.py
###
#
# This file is the configuration for server daemons.  It can handle
# multiple server configurations.
#
# For the daemonizer to work, "pip install python-daemon".

class CrowdsourcerDaemon(object) :
    """This holds a configuration for a set of daemons.  The process
    associated with the first port will process payments.

    This class should not be changed."""
    def __init__(self, ports=[80], db_name="news_crowdsourcing", environment="development") :
        self.ports = ports
        self.db_name = db_name
        self.environment = environment

##
## Configurations
##

# Make sure that each configuration which will run at the same time
# has a distinct db_name.  Note that the system will create the
# database automatically on startup.

configurations = {
    'default' : CrowdsourcerDaemon(),
    'default_production' : CrowdsourcerDaemon(environment='production'),

    'default_8080' : CrowdsourcerDaemon(ports=[8080]),
    'default_8080' : CrowdsourcerDaemon(ports=[8080], environment='production'),
    
    # Defines a production daemon of two processes.  Only one does payments.
    'a' : CrowdsourcerDaemon(ports=[8101, 8102],
                             db_name="news_crowdsourcing_a",
                             environment="production"),
}
